@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



.row .rosa .card{
background-color:#1e90ff;
}



#root{
    background-color:#1e90ff;
    color:white;
    font-family: 'Noto Sans JP', sans-serif;
}


.nav-linkk{
    font-weight:600;
    color:white;
    decoration:none;
    border: 1px solid white;
    padding: 5px;
    width:110px;
    text-align:center;

}

.golinks{
  text-align:center;
}


.bottonss{
  display:flex;
  flex-direction:row;
  justify-content:center;
}


.golinks .message{
   font-size:20px;
   margin-op:20px;
   text-align:center;
}

.label, .label input[type=text]{
width:200px;
margin:0 auto;
display:block;
}


.login-container{
display:inline-block;
}

.login-container .login-input{
margin:0.8px;
}

.form{
width:100%;
display:inline;
}

.form .button{
background:#CCCCCC	;
}

.form button[type=submit]{
width:70px;
margin:0 auto;
}



.formtext .input{
width:230px;
}


.formtext .textarea{
width:230px;
height:7em;
}


.button3 .navi{
text-align:center;
margin:0 2px 0 2px;
border:2px solid white;

}


.login-container .login-input{
background-color:white;
}


.button3 .navi{
transition:0.4s;
}


.button3{
  display:flex;
  flex-direction:row;
  justify-content:center;
}





.text-uppercase{
margin:0 auto;
text-align:center;
}

#overlay{
margin:0 auto;
text-align:center;
}


.list-group{
margin:0 auto;
text-align:center;
list-style:none;
padding:10px;
color:black;
font-weight:600;
}

.nav{
margin:0 auto;
text-align:center;
}



.app {
  padding: 30px;
  background-color: floralwhite;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}




.drawer-btn{
display:none;
}

.jcc{
transition:0.4s;
text-decoration:none;

}

.jcc:hover{
text-decoration:none;
}

.rosa .adds{
transition:0.5s;
}


.hamburger-menu{
display:none;
}



.ke-tai{
display:none;
}


.gender{
text-align:center;
}

.yesno{
width:90px;
text-align:center;
}

.doui{
text-decoration: none
}

.doui:hover{
text-decoration: none
}

.tableform input[type=username]{
width:100%;
}

.tableform input[type=email]{
width:100%;
}

.tableform input[type=password]{
width:100%;
}




.tableform{
margin: 10px auto;
padding: 0.5em 1em;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/

}


@media(max-width:420px){



.form{
  display:flex;
  flex-direction:column;
  justify-content:center;

}


.form .button[type=submit]{
width:100%;

}

.tableform{
width:100%;
}

.tableform td{
font-size:14px;
text-align:left;
}

.formtext input{
width:70%;
}

.formtext textarea{
width:70%;
}

.tableform{
display:none;
}


.message{
font-weight:900;
}

.ke-tai{
display:block;
text-align:left;
margin-top:50px;
color:black;
padding: 0.5em 1em;
font-weight: bold;
color: #6091d3;/*文字色*/
background: #FFF;
border: solid 3px #6091d3;/*線*/
border-radius: 10px;

}

.ke-tai input[type=username]{
width:90%;
}

.ke-tai input[type=email]{
width:90%;

.ke-tai .divdivdiv{
margin-bottom:50px;
}


}

.ke-tai input[type=password]{
width:90%;

}






.hamburger-menu{
display:block;
}



.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000080;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}



#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}


#menu-btn-check {
    display: none;
}


#menu-btn-check {
    display: none;
}




.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color:#3584bb;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
    opacity:1;
    transition:0.4s;
    font-weight:600;
}

.menu-content ul li a:hover{
    color:#000080;
}



.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}


.menu-content {
    width: 100%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;
    opacity:0.8;
}


#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}



.form{
  display:block;
  width:100%;
}

.header-nav{
display:block;
}

.login-container{
  width:100%;
}

.login-input{
  width:100%;
}

.form .button[type=submit]{
width:100%;
background:#CCCCCC;
}


.bottonss{
display:none;
}

.navbar-toggler{
display:block;
}

.site .navbar-toggler{
background-color:#090088;]
position:relative;
}

.header-nav{
background-color:#1e90ff;
width:100%;
text-align:left;
transform:translateX(-110%);
transition:0.2s;
}


.header-menu{
width:100%;
}

.header-menu li{
padding:18px 0px;
list-style:none;
display:inline-block;
margin:2px;
}

.drawer-btn:checked~.header-nav{
 transform:translateX(0%)
}

.drawer-btn{
display:block;
position:absolute;
transform:scale(10);
top:0.1;
opacity:0;
}


.login-container .login-input{
background-color:white;
}


}